@font-face {
  font-family: 'EuclidCircularB-Regular';
  src: url('EuclidCircularB-Regular.woff') format('woff');
}

@font-face {
  font-family: 'EuclidCircularB-Bold';
  src: url('EuclidCircularB-Bold.woff') format('woff');
}

body {
  font-family: EuclidCircularB-Regular, sans-serif;
}
.headercenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 100%;
  padding: 5px 10px;
}
#logo-container {
  display: inline-flex;
  flex-direction: column;
}
.testSnapsLogo {
  font: 40px EuclidCircularB-Bold, sans-serif;
}
.testSnapsName {
  font: 20px EuclidCircularB-Bold, sans-serif;
}
.testSnapsReg {
  font: 16px EuclidCircularB-Regular, sans-serif;
}
.fox {
  width: 360px;
  display: block;
  line-height: 0.625em;
  color: #8b45b6;
}
.btn-wide {
  width: 100%;
}
